---
---

$accent-color: #0091ea;
$skin-1-color: #0e9aef;
$skin-1-nav-bg: #ffffff;

// Variables, Mixins
@import "variables";
@import "mixins";

// INSPINIA Theme Elements
@import "typography";
@import "navigation";
@import "top_navigation";
@import "buttons";
@import "badgets_labels";
@import "elements";
@import "sidebar";
@import "base";
@import "chat";
@import "spinners";

// Media query style
@import "media";

@import "skins";

// Custom style
// Your custom style to override base style
@import "custom";

body { 
    background-color: white;
    font-family: Lato, Helvetica, Arial; 
}

/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.main-logo,
.main-logo:hover {
	display: inline-block;
	font-size: 26px;
	text-transform: uppercase;
	margin-top: 0.3em;
	padding-left: 0.5em;
	padding-right: 4em;

    @media (max-width: 768px) {
       font-size: 20px;
       margin-top: 0.6em;
	   padding-right: 1.5em;
    }
}

.logo-icon {
    display: inline-block;
    width: 23px;
    height: 23px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/Logo.png);
    vertical-align: top;
	margin-left: 0.5em;
	margin-right: 0.15em;
	margin-top: 0.25em;

    @media (max-width: 768px) {
        width: 18px;
        height: 18px;
    	margin-right: 0.1em;
        margin-top: 0.2em;
    }
}

.main-logo b {
    color: $skin-1-color;
    font-weight: 100;
}

#content1 .list-group .list-group-item {
  background-color: transparent;
  overflow: hidden;
  border: 0;
  border-radius: 0;
  padding: 0 16px;
}
#content1 .list-group .list-group-item.baseline {
  border-bottom: 1px solid #cecece;
}
#content1 .list-group .list-group-item.baseline:last-child {
  border-bottom: none;
}
#content1 .list-group .list-group-item .row-picture,
#content1 .list-group .list-group-item .row-action-primary {
  float: left;
  display: inline-block;
  padding-right: 16px;
}
#content1 .list-group .list-group-item .row-picture img,
#content1 .list-group .list-group-item .row-action-primary img,
#content1 .list-group .list-group-item .row-picture i,
#content1 .list-group .list-group-item .row-action-primary i,
#content1 .list-group .list-group-item .row-picture label,
#content1 .list-group .list-group-item .row-action-primary label {
  display: block;
  width: 56px;
  height: 56px;
}

#content1 .list-group .list-group-item .row-picture img,
#content1 .list-group .list-group-item .row-action-primary img {
  background: rgba(0, 0, 0, 0.1);
  padding: 1px;
}
#content1 .list-group .list-group-item .row-picture img.circle,
#content1 .list-group .list-group-item .row-action-primary img.circle {
  border-radius: 100%;
}
#content1 .list-group .list-group-item .row-picture i,
#content1 .list-group .list-group-item .row-action-primary i {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  text-align: center;
  line-height: 56px;
  font-size: 20px;
  color: white;
}
#content1 .list-group .list-group-item .row-picture label,
#content1 .list-group .list-group-item .row-action-primary label {
  margin-left: 7px;
  margin-right: -7px;
  margin-top: 5px;
  margin-bottom: -5px;
}
#content1 .list-group .list-group-item .row-picture label .checkbox-material,
#content1 .list-group .list-group-item .row-action-primary label .checkbox-material {
  left: -10px;
}
#content1 .list-group .list-group-item .row-content {
  display: inline-block;
  width: calc(100% - 92px);
  min-height: 66px;
}
#content1 .list-group .list-group-item .row-content .action-secondary {
  position: absolute;
  right: 16px;
  top: 16px;
}
#content1 .list-group .list-group-item .row-content .action-secondary i {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
#content1 .list-group .list-group-item .row-content .action-secondary ~ * {
  max-width: calc(100% - 30px);
}
#content1 .list-group .list-group-item .row-content .least-content {
  position: absolute;
  right: 16px;
  top: 0px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}
#content1 .list-group .list-group-item .list-group-item-heading {
  color: rgba(0, 0, 0, 0.77);
  font-size: 20px;
  line-height: 29px;
  font-family: Raleway, Helvetica, sans-serif;
  color: $accent-color !important;
}
#content1 .list-group .list-group-item.active:hover,
#content1 .list-group .list-group-item.active:focus {
  background: rgba(0, 0, 0, 0.15);
  outline: 10px solid rgba(0, 0, 0, 0.15);
}
#content1 .list-group .list-group-item.active .list-group-item-heading,
#content1 .list-group .list-group-item.active .list-group-item-text {
  color: rgba(0, 0, 0, 0.84);
  font-size: 1em;
}
#content1 .list-group .list-group-separator {
  clear: both;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}
#content1 .list-group .list-group-separator:before {
  content: "";
  width: calc(100% - 90px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  float: right;
}

.container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.navbar.navbar-white {
    background-color: #fbfbfb;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
}

#wrapper {
    width: 100%;
    overflow-x: hidden;
}

#page-wrapper {
    min-height: inherit !important;
}

.navbar-static-top {
	background-color: $skin-1-nav-bg !important;
    font-family: "Raleway", Lato, Helvetica, Arial;
}

.navbar.navbar-static-top {
	margin-bottom: 0;
    font-size: 1.1em;
}

.top-navigation .wrapper.wrapper-content {
  padding: 0px !important;
  padding-top: 20px !important;

    @media (max-width: 767px) {
      padding-top: 0px !important;
    }
}

.sample-warning { display: none; }

body.wx-unsupported .sample-warning { display: block; }

.navbar-brand img { vertical-align: middle; }

.panel.code .panel-body,
.syntax-theme-cobalt pre {
    background-color: rgb(22, 100, 151);
    color: white;
}

.panel.code.syntax-theme-monokai .panel-body,
.syntax-theme-monokai pre {
    background-color: #49483e;
    color: white;
}

a.next-topic {
    display: block;
    text-align: left;
    font-size: 1.4em;
    margin-top: 1.5em;
}

#main-logo-container {
    margin-top: 1em;
}

#main-logo {
    font-size: 400%;
    margin: 0;
}

#main-logo img {
    vertical-align: middle;
    margin-top: -7px;
    height: 56px;
}

#main-logo span {
    margin-left: 8px;
    vertical-align: middle;
}

pre code { font-size: 110%; }

code {
    background-color: #f0f0f0;
    color: #303030;
}

#rx-link { margin-left: 1em; }

#logoh1 { display: none; }

.content-panel { padding: 20px; }

.panel-title {
    text-transform: uppercase;
    font-weight: bold;
}

.example-link { font-size: 20px; }

.content-panel ul li { line-height: 1.8em; }

.docs .index ul {
    list-style: none;
    padding-left: 0;
}

.docs .index ol { padding-left: 1.6em; }

.docs .index ol li { line-height: 1.5em; }

.docs .index h3,
.docs .index h4 {
    font-family: Raleway, Helvetica, sans-serif;
    color: $skin-1-color;
    font-weight: normal;
}

.docs .index h3:first-child {
    margin-top: 0;
}

.docs .index h3:not(:first-child) { margin-top: 0.75em; }

.docs .index h4 { margin-top: 1em; }

.docs .body h1,
.docs .body h2,
.docs .body h3 {
  font-family: Raleway, Helvetica, sans-serif;
  color: $accent-color;
}

.docs .body h1:first-of-type { margin-top: 0; }

.docs .body h2:first-of-type { margin-top: 1em; }

.docs .body h2 {
    margin-top: 1em;
    line-height: 1.3em;
}

.docs .body h3,
.docs .body h4 {
    margin-top: 1em;
    line-height: 1.3em;
}

.docs .body .panel-heading h3,
.docs .body .panel-heading h4 { margin-top: 0; }

.docs .body .panel-body h1:first-of-type,
.docs .body .panel-body h2:first-of-type,
.docs .body .panel-body h3:first-of-type { margin-top: 0; }

.docs .body p { line-height: 1.6em; }

.docs .body ul li { margin-bottom: 0; }

.docs .body .panel-body ul {
    padding-left: 0;
    list-style: none;
}

#features,
#install { 
    padding-left: 0; 
}

#features li {
    line-height: 1.8em;
}

#install li {
    margin-left: 0;
    margin-bottom: 1.5em;
    list-style: none;
    padding-left: 0;
}


#features li { padding-left: 0; }

.navbar-brand h3 {
    display: inline-block;
    margin: 0;
    margin-left: 6px;
    vertical-align: middle;
    color: #333;
}

.navbar {
    background-color: white !important;
}

.navbar-brand img {
    display: inline-block;
    vertical-align: middle;
}

#header {
    padding-top: 1em;
}

#content1 {
    background-color: white;
    margin-top: 4em;
    margin-bottom: 2em;
    padding-top: 1.5em;
    padding-bottom: 0;
    border-top: 1px solid #e7eaec;
    border-bottom: 1px solid #e7eaec;
}

#header h1:first-of-type {
    font-family: Raleway, Helvetica, sans-serif;
    color: $skin-1-color;
    margin-bottom: 0;
    margin-top: 0;
}

.list-group .list-group-item .row-picture i, .list-group .list-group-item .row-action-primary i {
    background: rgba(0, 0, 0, .15) !important;
    border-radius: 100% !important;
    line-height: 57px !important;
    font-size: 24px !important;
    color: $accent-color !important;
}

#header p {
    line-height: 1.5em;
}

#header p:first-of-type {
    margin-top: 1em;
}

#content2 h2 {
  font-family: Raleway, Helvetica, sans-serif;
  color: $accent-color !important;
}
 
footer {
    margin-top: 2em;
	padding: 16px 40px !important;
	color: #9e9e9e;
	background-color: #373942 !important;
    position: static !important;
}

#footer ul {
    font-size: 0.9em;
    font-weight: bold;
}

#footer ul { color: #A0A0A0; }

#footer ul a {
    color: #808080;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#footer ul a:hover { color: #ffffff; }

#footer ul li {
    color: #808080;
    font-weight: normal;
    padding-left: 4px;
}

div.post {
    border-bottom: 1px dashed #a8a8a8;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

div.post:last-child {
    border-bottom: 0;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

div.post .date {
    margin-bottom: 0;
    -webkit-margin-after: 0;
    color: #a8a8a8;
}

div.post .title { margin-top: 10px; }

div.post .meta {
    color: #686868;
    margin-bottom: 25px;
}

div.post .share {
    margin-top: 25px;
    height: 35px;
    overflow: hidden;
}

#logo span {
    padding-left: 0.3em;
    color: #f0f0f0;
    text-shadow: 0 0 3px #808080;
}

#logo .highlight {
    padding-left: 0;
    color: #b7178c;
    text-shadow: 0 0 3px #ffffff;
}

/* SIMPLE TRANSITIONS */

.fadein {
    opacity: 0;
    transition: opacity 0.6s ease;
}

.fadein.run { opacity: 1; }

.fadeout {
    opacity: 1;
    transition: opacity 0.6s ease;
}

.fadeout.run { opacity: 0; }

.list-group-item-text {
    font-size: 1em;
}
.social-buttons {
    display: inline-block;
}

.social-button {
    @extend .hvr-pop;

    opacity: 0.8;
    display: inline-block;
    color: white;
    transition: all ease-in;
    padding: 0.2em;
    width: 2.2em;
    height: 2.2em;
    text-align: center;
    margin-right: 0.2em;
    border-radius: 2px;
}

.social-button:hover,
.social-button:focus {
    color: white !important;
    opacity: 1;
}

.social-button:last-child {
    margin-right: 0;
}

.social-button i.fa {
    font-size: 1.2em;
    vertical-align: middle;
    line-height: 1.5em;
}

.social-button.twitter {
    background-color: rgb(0, 172, 237);
}

.social-button.facebook {
    background-color: #3b5998;
}

.social-button.reddit {
    background-color: #ff5700;
}

.social-button.whatsapp {
    background-color: #43d854;
}

.social-button.pinterest {
    background-color: #bd081c;
}

.social-button.xing {
    background-color: #026466;
}

.social-button.linked-in {
    background-color: #0077b5;
}

.social-button.google-plus {
    background-color: #DC4E41;
}
