<footer id="main-footer" class="row">
	<div id="footer-info" class="inner">
	  &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> |
	  Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>
	</div>
</footer>