body {
  background-color: #b1b7bd;
  font-family: Arial;
  font-size: 16px;
}

.sample-warning {
  display: none;
}

body.wx-unsupported .sample-warning {
  display: block;
}

a {
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

a.next-topic {
    display: block;
    text-align: left;
    font-size: 1.4em;
    margin-top: 1.5em;    
}

pre code {
  font-size: 110%;
}

#rx-link {
  margin-left: 1em;
}

#main-container {
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
  padding: 0;
}

#logoh1 {
  display: none;
}

#main-container > .navbar {
  border-radius: 0;
  margin-bottom: 0;
  background-color: #0063A7;
  border: 0;
  border-bottom: 1px solid #005791;
}

#main-container > .navbar .navbar-nav {
  padding-top: 1em;
}

#main-container > .navbar .navbar-nav a {
  color: #e0e0e0;
  text-decoration: none;
  background-color: #0074c4;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  border-radius: 0.2em;
  margin-right: 0.5em;
}

#main-container > .navbar .navbar-nav a img {
  margin-top: -3px; 
  margin-right: 6px;
}

#main-container > .navbar .navbar-nav a:hover {
  color: #ffffff;
  background-color: #007ed4;
}

.content-panel {
    padding: 20px;
    width: 100%;
    background-color: #f8f8f8;
}

.example-link {
    font-size: 20px;
}

#content1 ul,
#content2 ul {
    padding-left: 1em;
}

.content-panel ul li {
    line-height: 1.8em;
}

.docs .index ol {
    padding-left: 1.6em;
}

.docs .index ol li {
    line-height: 1.5em;
}

.docs .index h3 {
    margin-top: 0;
}

.docs .index h3:not(:first-child) {
    margin-top: 0.75em;
}

.docs .index h4 {
    margin-top: 1em;
}

.docs .body h1:first-of-type {
  margin-top: 0;
}

.docs .body h2:first-of-type {
  margin-top: 1em;
}

.docs .body h2 {
  margin-top: 1em;
  line-height: 1.3em;
}

.docs .body h3,
.docs .body h4 {
  margin-top: 1em;
  line-height: 1.3em;
}

.docs .body .panel-heading h3,
.docs .body .panel-heading h4 {
  margin-top: 0;
}

.docs .body .panel-body h1:first-of-type,
.docs .body .panel-body h2:first-of-type,
.docs .body .panel-body h3:first-of-type {
  margin-top: 0;
}

.docs .body p {
  line-height: 1.6em;
}

.docs .body ul li {
  margin-bottom: 0.5em;
}

.docs .body pre {
  margin: 0 0 20px;
}

.docs .body :not(.hightlight) code {
    background-color: #e8e8e8;
    color: #333333;
}

.docs .body .panel-body ul {
    padding-left: 0;
    list-style: none;
}

#install li {
  margin-bottom: 1.5em;
}

#header {
    color: white;
    text-shadow: rgb(24, 24, 24) 1px 1px 0px;
    background: #0082d8; /* Old browsers */
    background: -moz-linear-gradient(top, #0082d8 1%, #0063a7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#0082d8), color-stop(100%,#0063a7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0082d8 1%,#0063a7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0082d8 1%,#0063a7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0082d8 1%,#0063a7 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0082d8 1%,#0063a7 100%); /* W3C */
}

#header #devices {
  width: 80%;
}

#header p {
  font-size: 16px;
}

#header a {
  color: white;
  text-decoration: underline;
}

#header h1 {
  padding-bottom: 15px;
}

#header .get-it {
  padding-top: 20px;
}


#content1 {
  background: white;
  padding: 30px 20px;
}

#footer {
  color: #f8f8f8;
  background-color: #2E2E2E;
}

#footer ul {
  font-size: 0.9em;
  font-weight: bold;
}

#footer ul {
  color: #A0A0A0;
}

#footer ul a {
  color: #808080;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#footer ul a:hover {
  color: #ffffff;
}

#footer ul li {
  color: #808080;
  font-weight: normal;
  padding-left: 4px;
}

#content1 .row > div > div {
  display: table;
  margin-bottom: 1em;
}

#content1 .row > div > div > h3 {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  padding-left: 0.5em;
}

#content1 .row > div > div > img {
  display: table-cell;
  vertical-align: top;
  width: 32px;
}

#content1 .row > div > div > div {
  margin-top: 10px;
  font-size: 0.8em;
  color: #303030;
  text-align: left;
}

#footer,
#footer a {
  color: #808080;
}

div.post {
  border-bottom: 1px dashed #a8a8a8;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

div.post:last-child {
  border-bottom: 0;
  padding-bottom: 0px;
  margin-bottom: 10px;
}

div.post .date {
  margin-bottom: 0;
  -webkit-margin-after: 0;
  color: #a8a8a8;
}

div.post .title {
  margin-top: 10px;
}

div.post .meta {
  color: #686868;
  margin-bottom: 25px;
}

div.post .share {
  margin-top: 25px;
  height: 35px;
  overflow: hidden;
}

pre {
  background-color: #e8e8e8;
}

#logo span {
  padding-left: 0.3em;
  color: #f0f0f0;
    text-shadow: 0 0 3px #808080;
}

#logo .highlight {
  padding-left: 0;
  color: #b7178c;
    text-shadow: 0 0 3px #ffffff;
}

#content2 {
  border-top: 1px solid #e0e0e0;
  background-color: #f0f0f0;
}

#content2 .panel-default > .panel-heading {
    background-color: white;
}

.navbar-inverse .navbar-toggle:hover, 
.navbar-inverse .navbar-toggle:focus {
  background-color: #007ed4;
}

.navbar-inverse .navbar-toggle {
  border-color: transparent;
}

.highlight pre {
    border-radius: 0;
    -ms-border-radius: 0;
    border: 0;
    border-left: 6px solid #428bca;
}

#live-demo select,
#live-demo button {
  height: 1.8em;
  vertical-align: middle;
}

#live-demo select {
  width: 8em;
}

.panel-body .highlight pre {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

.panel-default .panel-body,
.panel-default .panel-body .highlight pre {
  background-color: #f8f8f8;
}

#features {
  margin-top: 0;
}

@media only screen and (max-width: 992px) {
  /* Add a margin between vertically stacked cells on mobile */
  #content1 .row > div  {
    margin-bottom: 20px;
  }

  #content1 .row > div:last-child  {
    margin-bottom: 0px;
  }

  .navbar-brand img  {
    height: 30px;
  }

  .content-panel {
    padding: 15px;
  }

  #main-container > .navbar .navbar-nav {
    padding-top: 0.75em;
  }
}

@media only screen and (max-width: 768px) {
  #main-container > .navbar .navbar-nav a {
    background-color: transparent;
    padding-top: 0;
  }

  #main-container > .navbar .navbar-nav a:hover {
    color: #ffffff;
    background-color: transparent;
  }

  .docs #start {
    padding-top: 1em;
  }
}
