<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <staticContent>
            <clientCache cacheControlMaxAge="7.00:00:00" cacheControlMode="UseMaxAge" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="Redirect Examples">
                    <match url="^examples/(.+)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/examples?rs={UrlEncode:{R:1}}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>