#logo span {
	color: #505050;
    text-shadow: 0 0 6px #505050;
}

#logo .highlight {
	color: #b7178c;
    text-shadow: 0 0 6px #b7178c;
}

#footer-info {
	font-size: small;
}

html, body {
  height: 100%;
  background: #f8f8f8;
  background:
	linear-gradient(
		#f0f0f0,
		transparent
	),
	linear-gradient(
		90deg,
		#e8e8e8,
		transparent
	),
	linear-gradient(
		-90deg,
		#f8f8f8,
		transparent
	);
	
	background-blend-mode: screen;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -30px;
  /* Pad bottom by footer height */
  padding: 0 0 30px;
}

/* Set the fixed height of the footer here */
#main-footer {
	text-align: center;
    height: 30px;
    color: #a0a0a0;
    line-height: 30px;
}

.main-info-box {
	background-color: #e8e8e8;
	text-align: center;
	padding-right: 1em;
}

.main-info-box:last-child {
	padding-right: 0em;
}