title: WebRx - Dynamic JavaScript UIs using ReactiveX
---
<div class="row">
  <div class="main-info-box small-4 columns">
  sdfdf
  </div>
  <div class="main-info-box small-4 columns">
  sdfdf
  </div>
  <div class="main-info-box small-4 columns">
  sdfdf
  </div>
</div>
