title: WebRx - Dynamic JavaScript UIs using ReactiveX
---
<div id="intro">
<h3>Dynamic JavaScript UIs using ReactiveX</h3>
<p>WebRx integrates concepts of KnockoutJS and AngularJS with ReactiveX for Javascript (rxjs) into a MVC framework that enables developers to create responsive, structured and testable Web-Applications that run in any modern browser.</p>
</div>

<div id="main-info">
	<div class="row">
		<h4>Key Concepts</h4>
	</div>

	<div class="row">
		<div class="main-info-box large-4 columns">
		<h5>Declarative Bindings</h5>
		Easily associate DOM elements with model data using a concise, readable syntax
		</div>
		<div class="main-info-box large-4 columns">
		<h5>Automatic UI Refresh</h5>
		When your data model's state changes, your UI updates automatically
		</div>
		<div class="main-info-box large-4 columns">
		<h5>Dependency Tracking</h5>
		Implicitly set up chains of relationships between model data, to transform and combine it
		</div>
	</div>
</div>


